<!-- Default header -->

<div>
    <a class="menu_a" href="{{ path('app_enjoyKorea') }}">
        <img class="logo" src="{{ asset('visitkorea_logo_white 1.svg') }}" alt="visit korea logo">
    </a>
</div>
<div class="header_default">
    <a class="menu_a" href="{{ path('app_eventKorea') }}">
        <div class="menu_default">
            <div class="menu_default_title">
                What to do tonight?
            </div>
        </div>
    </a>
    <a class="menu_a" href="{{ path('app_hobbyKorea') }}">
        <div class="menu_default">
            <div class="menu_default_title">
                Practice your hobbies
            </div>
        </div>
    </a>
    <a class="menu_a" href="#">
        <div class="favorite">
            <div class="favorite_title">
                Favorites
            </div>
        </div>
    </a>
</div>