<!-- super categories header -->

<div class="header_hobbies">
    {% for family in hobby_families %}
        <a class="menu_hobbies" href="{{ path('app_hobbyCategoriesKorea', { family: family.name}) }}">

                {{ family.name }}

        </a>
    {% endfor %}
</div>