<!-- super categories header -->

<div class="header_hobbies">
    {% for hobby in hobby_categories %}
    <a>
        <div class="menu_hobbies">
            {{ hobby.name }}
        </div>
    </a>
    {% endfor %}
    <div class="menu_hobbies_last">
        Sport
    </div>
</div>