<!-- hobby families menu -->

<div class="header_hobbies">
    {% for family in hobby_families %}
            {% if app.request.attributes.get('family_name') == family.name %}
                <a class="menu_hobbies menu_hobbies_active" href="{{ path('app_hobbyCategoriesKorea', { family_name: family.name}) }}">
                        {{ family.name }}
                </a>
            {% else %}
                <a class="menu_hobbies" href="{{ path('app_hobbyCategoriesKorea', { family_name: family.name}) }}">
                        {{ family.name }}
                </a>
            {% endif %}
    {% endfor %}
</div>