{% extends 'base.html.twig' %}

{% block header %}
    <div class="logo">
        <a href="{{ path('app_enjoyKorea') }}">
            <img class="logo" src="{{ asset('visitkorea_logo_white 1.svg') }}" alt="visit korea logo">
        </a>
    </div>
    <div class="header_default">
    </div>
{% endblock %}

{% block content %}

    <div class="homepage">
        <a class="menu_homepage" href="{{ path('app_eventKorea') }}">
            <div class="menu_homepage_title">
                What to do tonight?
            </div>
            <div class="menu_homepage_description">
                <p>
                    Find something around this evening:
                </p>
                <ul>
                    <li>Concert</li>
                    <li>Walk</li>
                    <li>Cinema</li>
                </ul>
            </div>
        </a>
        <a class="menu_homepage" href="{{ path('app_hobbyFamiliesKorea') }}">
            <div class="menu_homepage_title">
                Practice your hobbies
            </div>
            <div class="menu_homepage_description">
                <p>
                    Find a hobby in your area:
                </p>
                <ul>
                    <li>Do sport</li>
                    <li>Practice musique</li>
                    <li>Take dance lessons</li>
                </ul>
            </div>
        </a>
        <a class="favorite_homepage" href="#">
            <div class="favorite_homepage_title">
                Favorites
            </div>
            <div class="favorite_homepage_description">
                <p>
                    Everything you saved as your favorites!
                </p>
                <p>
                    -> 12 events + 3 hobbies
                </p>
            </div>
        </a>
    </div>
{% endblock %}