html {
    height: 100%;
}
body {
    background-color: #344356;
    color: #FFFFFF;
    font-family: 'Leelawadee UI', "Trebuchet MS", Verdana, sans-serif;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "content"
        "footer";
    column-gap: 10px;
    align-content: stretch;

    height:100%;
    min-height: 100%;
    margin: 0;
}

.content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    /*display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 10px;*/
    grid-area: content;
}

footer {
    grid-area: footer;
    background-color: #353535;
    height: 200px;
}

