html {
}
body {
    background-color: #344356;
    color: #FFFFFF;
    font-family: 'Leelawadee UI', "Trebuchet MS", Verdana, sans-serif;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "content"
        "footer";

    margin: 0;
    gap: 0;
}

.content {
    grid-area: content;
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 10%;
}

footer {
    grid-area: footer;
    background-color: #353535;
    height: 200px;
    margin-top: 50px;
}

