header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 320px;
    height: 200px;
}

.header_default {
    display: flex;
    flex-flow: row wrap;
    flex: 1 1;
    justify-content: space-evenly;
    gap: 10px;
    width: auto;
    max-width: 1080px;
    margin-right: 5%;
}

.menu_default {
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;

    width: 210px;
    height: 80px;

    background: #6583A8;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    text-decoration: none;
}

.menu_default:hover {
    background: #516e93;
}

.favorite {
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;

    width: 210px;
    height: 80px;

    background: #6B7B8E;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    text-decoration: none;
}