
/********* CSS RELATED TO HOBBY PAGE *********/


/************** FAMILY MENU **************/

.header_hobbies {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    position: absolute;
    left: calc(50% - 775px/2 - 47.5px);
    top: 320px;
}

.menu_hobbies, .menu_hobbies_first, .menu_hobbies_last {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    width: 155px;
    height: 70px;

    /* blue_grey */

    background: #6583A8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    /* Inside auto layout */

    flex: none;
    flex-grow: 0;

    font-family: 'Leelawadee UI', "Trebuchet MS", Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;

}

.menu_hobbies_first {
    border-radius: 10px 0px 0px 10px;
}

.menu_hobbies_last {

    border-radius: 0px 10px 10px 0px;
}

.menu_hobbies:hover, .menu_hobbies_first:hover, .menu_hobbies_last:hover {
    background: #516e93;
}

/************** HOBBY CARD **************/

.categories_background {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 30px;
    gap: 30px;

    position: absolute;
    width: 1090px;
    left: calc(50% - 1090px/2);
    top: 470px;

    background: rgba(101, 131, 168, 0.3);
    border-radius: 10px;
}

.categories {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;

    width: 1030px;
    height: 50px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.category {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
    gap: 10px;

    width: 150px;
    height: 50px;


    /* Inside auto layout */

    flex: none;
    flex-grow: 0;

    /* grey */

    background: #6B7B8E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;

    /* text */

    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.category_title {

    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;

    /* identical to box height */

    display: flex;
    align-self: stretch;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;


    color: #FFFFFF;

}