
/********* CSS RELATED TO HOBBY PAGE *********/


/************** FAMILY MENU **************/

.header_hobbies {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 50px 20%;
}


.header_hobbies > .menu_hobbies:first-child {
    border-radius: 10px 0px 0px 10px;
}

.header_hobbies > .menu_hobbies:last-child {
    border-radius: 0px 10px 10px 0px;
}

.menu_hobbies {
    display: flex;
    flex: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    width: 155px;
    height: 70px;

    background: #6583A8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    text-decoration: none;

}

.menu_hobbies:hover {
    background: #516e93;
}

/************** CATEGORY MENU **************/

.categories_background {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-content: flex-start;
    padding: 30px;

    gap: 30px;

    margin: 30px 10%;

    background: rgba(101, 131, 168, 0.3);
    border-radius: 10px;
}

.categories_search {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    padding: 0 20px;
    gap: 15px;

    width: 376px;
    height: 56px;

    background: #FFFFFF;

    border: 2px solid #6583A8;
    border-radius: 20px;
}

.categories_search_input {
    border: none;
    outline: none;

    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    width: 100%;

    color: #6583A8;
}

.categories_search_input::placeholder {
    color: #B0B0B0;
    opacity: 1;
}

.search_icon {
    width: 25px;
    height: 25px;
    min-width: 25px;
    background: url("../icon_cate_search.svg");
    background-size: cover;
}

.categories {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    row-gap: 20px;
    column-gap: 30px;

    width: 100%;
}

.category {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    min-width: 140px;
    height: 50px;
    padding: 0 7px 0 7px;

    background: #6B7B8E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}

.category_title {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;

    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 100%;
    text-align: center;
}

/************** HOBBY RESULTS **************/

.hobbies_count {
    height: 27px;
    margin: 0 0 20px 0;
    width:auto;
}

.hobbies_count_text {
    text-indent: -10px;

    font-style: normal;
    font-weight: 350;
    font-size: 18px;
    line-height: 24px;

    letter-spacing: 0.15em;
    font-feature-settings: 'kern' off, 'clig' off;
}

.hobbies_results {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    justify-content: space-between;
}

.hobby_card_background {
    position: relative;
    height: 250px;
}
.hobby_card_background::before {
    content: "";
    position: absolute;

    width: 100%;
    height: 250px;

    background-image: url("../pinpong.jpg");
    background-size: cover;
    background-position: center;
    filter: brightness(30%) saturate(400%);
    background-repeat: no-repeat;

    border-radius: 10px;
}

.hobby_card {
    padding: 15px 15px 15px 20px;
    position: relative;

    height: 220px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.hobby_card_top {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 15px;

    align-self: stretch;
}

.hobby_card_top_left {
    display: flex;
    flex-flow: column nowrap;
    align-self: stretch;

    justify-content: space-between;
}

.hobby_card_titles {
    display: flex;
    flex-flow: column nowrap;
    gap: 5px;
}

.hobby_card_title {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}

.hobby_card_hangeul {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.hobby_card_phone {
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
}

.hobby_card_top_right {
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
    justify-content: space-between;
}

.hobby_card_add_info {
    display: flex;
    flex-flow: column;
    gap: 10px;
}

.hobby_card_add_info_button {
    width: 100px;
    height: 40px;
    background: #DDE8C8;
    border-radius: 5px;

    color: #344356;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    display: flex;
    align-items: center;
    text-align: center;
}

.hobby_card_basic_info {
    display: flex;
    flex-flow: column;
    gap: 10px;
}

.hobby_card_basic_info_button {
    width: 170px;
    height: 50px;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 5px;

    background: #6B7B8E;
    border-radius: 10px;
}

.hobby_card_basic_info_button_main_text {
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
}

.hobby_card_basic_info_button_sub_text {
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
}

.favorite_add {
    width: 45px;
    height: 45px;
    min-width: 45px;
    background: url("../icon_fav_empty.svg");
    background-size: cover;
}

.favorite_add:hover {
    width: 45px;
    height: 45px;
    background: url("../icon_fav_full.svg");
    background-size: cover;
}

.hobby_card_bottom {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    gap: 10%;
    padding: 0 5% 0 5%;
}

.hobby_card_bottom_button {
    width: 120px;
    height: 35px;
    background: #FFFFFF;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    color: #000000;
}

