
/********* CSS RELATED TO HOBBY PAGE *********/


/************** FAMILY MENU **************/

.header_hobbies {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 50px 20%;
}


.header_hobbies > .menu_hobbies:first-child {
    border-radius: 10px 0px 0px 10px;
}

.header_hobbies > .menu_hobbies:last-child {
    border-radius: 0px 10px 10px 0px;
}

.menu_hobbies {
    display: flex;
    flex: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    width: 155px;
    height: 70px;

    background: #6583A8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    text-decoration: none;

}

.menu_hobbies:hover {
    background: #516e93;
}

/************** CATEGORY MENU **************/

.categories_background {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 30px;

    width: 80%;
    max-width: 1500px;
    margin-inline: auto;

    background: rgba(101, 131, 168, 0.3);
    border-radius: 10px;
}

.categories {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    row-gap: 20px;
    column-gap: 30px;

    width: 100%;
}

.category {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    min-width: 140px;
    height: 50px;
    padding: 0 7px 0 7px;

    background: #6B7B8E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}

.category_title {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;

    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
}

/************** HOBBY RESULTS **************/

.hobbies_count {
    height: 27px;
    left: 4.51%;
    right: 87.92%;
    top: 609px;
    width:auto;
}

.hobbies_count_text {
    left: -6.86%;
    top: 3.7%;
    bottom: 7.41%;

    font-style: normal;
    font-weight: 350;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height */

    display: flex;
    align-items: center;
    letter-spacing: 0.15em;
    font-feature-settings: 'kern' off, 'clig' off;

    color: #FFFFFF;
}

.hobbies_results {
    left: 4.51%;
    right: 4.51%;
    top: 656px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

.hobby_card {

    padding: 15px 15px 15px 20px;

    height: 250px;
    width:auto;

    background-image: url("../pinpong.jpg");
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
}