{% extends 'base.html.twig' %}

{% block header_menu %}
    {% include 'header/default.html.twig' %}
    {% include 'header/hobbyFamilies.html.twig' %}
{% endblock %}

{% block body %}

    {% if hobbies is not defined %}
        {% if hobby_categories is defined %}

            <div class="categories_background">
                <div class="categories">
                {% for hobby_category in hobby_categories %}
                    <a class="menu_a" href="{{ path('app_hobbiesKorea', { family: hobby_category.hobbyFamilies.name, category_name: hobby_category.name}) }}">
                        <div class="category">
                            {{ hobby_category.name }}
                        </div>
                    </a>
                {% endfor %}
                </div>
            </div>

        {% endif %}
    {% endif %}


    {% if hobbies is defined %}

        <div class="categories_background">
            <div class="category_title">
                {{ selected_category }}
            </div>
        </div>

        {% for hobby in hobbies %}
            {{ hobby.name }}<br/>
        {% endfor %}

    {% endif %}
{% endblock %}