<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <div>
                <img class="logo" src="{{ asset('visitkorea_logo_white 1.svg') }}" alt="visit korea logo">
            </div>
            <div class="header_homepage">
                <button href="#">
                    <div class="menu_homepage">
                        <div class="menu_title">
                            What to do tonight?
                        </div>
                        <div class="menu_description">
                            <p>
                                Find something around this evening:
                            </p>
                            <p>
                                - Concert<br>
                                - Walk<br>
                                - Cinema
                            </p>
                        </div>
                    </div>
                </button>
                <button href="#">
                    <div class="menu_homepage">
                        <div class="menu_title">
                            Practice your hobbies
                        </div>
                        <div class="menu_description">
                            <p>
                                Find a hobby in your area:
                            </p>
                            <p>
                            - Do sport<br>
                            - Practice musique<br>
                            - Take dance lessons
                            </p>
                        </div>
                    </div>
                </button>
                <div class="favorite_homepage">
                    <div class="favorite_title">
                        Favorites
                    </div>
                </div>
            </div>
        {% endblock %}

    </body>
</html>
