{% extends 'base.html.twig' %}

{% block header %}
    {% include 'header/default.html.twig' %}
{% endblock %}

{% block content %}
    <div class="favorite_container">
        <div class="favorite_event_column">
            <div class="favorite_column_title">
                Upcoming events
            </div>
            {% for event in events %}
            {% else %}
                <div class="favorite_no_items">
                    Go to <a href="{{ path('app_eventKorea') }}">What to do tonight?</a> to add upcoming events in your favorites!
                </div>
            {% endfor %}
        </div>
        <div class="favorite_hobby_column">
            <div class="favorite_column_title">
                Hobbies
            </div>
            {% for hobby in hobbies %}
                {% include 'hobby/_hobbyCard.html.twig' %}
            {% else %}
                <div class="favorite_no_items">
                    Go to <a href="{{ path('app_hobbyFamilies') }}">Practice your hobbies</a> to add hobbies in your favorites!
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}